/* CSS Document */

@font-face {
  font-family: "SF Pro Text";
  src: url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot");
}
*, *::after, *::before {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'SF Pro Textma', sans-serif;
}


/*Styling navigatiebar */
nav {
  position: fixed;
  background: rgba(0,0,0,0.92);
  width: 100vw;
  z-index: 2;
}
header {
  height: auto;
}
header ul:nth-of-type(1){
  list-style-type:none;
  display:flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header ul li img {
  width: 30px;
}


.hamburgermenu{
    width: 30px;
    height: 30px;
    margin-top:10px;
}

.hamburgermenu span{
  display: flex;
  position: relative;
  width: 30px;
  height: 1px;
  background-color:#f5f5f7;
  margin-bottom: 10px;
  transition: .5s ease;
}

.rotate1 {
  transform: rotate(-45deg);
  margin-top: 10px;
}

.rotate2 {
  transform: rotate(45deg);
  margin-top: -11px;
}

/*Animatie hamburgermenu */

.navigatiebar_hidden{
  position: absolute;
  transform:translateY(-100%);
  transition: 1s;
  width: 100vw;
  height: 812px;
  padding-top: 80px;
  background-color:black;
  z-index: 1;
}

.uitklappenMenu{
  transform:translateY(0%);
}
.navigatiebar_hidden form input{
  width: 90%;
  margin-left: 37px;
  margin-right: 37px;
  padding:10px;

}
.navigatiebar_hidden form {
  margin-bottom: 30px;
  margin-right: 37px;
}

.navigatiebar_hidden a{

  display: block;
  text-decoration: none;
  color:#f5f5f7;
  margin-left:37px;
  margin-top:15px;
  font-size: 17px;
  border-bottom: 1px solid;
  margin-right: 37px;
  padding-bottom: 5px;
  opacity: .56

}

.navigatiebar_hidden a:hover{
  opacity: .26;
}


/*Styling voor blok iPhone SE */
section:nth-of-type(1) {
  background-color: rgb(19, 19, 19);
  padding-top: 30px;
  padding-top:70px;
}

section:nth-of-type(1) h2 {
  color: white;
  text-align: center;
  font-size:32px;
  line-height: 1.125;
  letter-spacing: .004em;
  font-weight: 500;
}

section:nth-of-type(1) p:nth-of-type(1)  {
  color: white;
  text-align: center;
  font-size: 19px;
  line-height: 1.4211;
  font-weight: 400;
  letter-spacing: .012em;
  padding-bottom: 10px;

}
section:nth-of-type(1) p:nth-of-type(2) {
  font-size:14px;
  color: #86868b;
  text-align: center;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
  margin-bottom: 17px;

}
/*section afbeelding styling */
section:nth-of-type(2) {
  background-image: url("../images/Iphone_SE.jpg");
  height: 600px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 20px;
  margin-top: -10px;
}

section:nth-of-type(1) p:nth-of-type(3){
  font-size:19px;
  letter-spacing: .012em;
  text-align:center;
  font-weight: 400;
  line-height: 1.21053;

}

section:nth-of-type(1) p:nth-of-type(3) a:nth-of-type(2){
  margin:0px 0px 0px 27px;
}

/*Styling voor link */
section a{
  text-decoration: none;
  color:#0066CC;
}

section a:active{
  text-decoration: underline;
}

/*Styling voor section 2 iPhone11*/

/*Styling bovenste gedeelte van blok iPhone 11 */
section:nth-of-type(3) {
  background-color: white;
  padding-top: 30px;
  text-align: center;
}

section:nth-of-type(3) h2 {
  text-align:center;
  font-size:32px;
  line-height: 1.125;
  letter-spacing: .004em;
  font-weight: 500;
}
section:nth-of-type(3) p:nth-of-type(1)  {
  text-align: center;
  font-size: 19px;
  line-height: 1.4211;
  font-weight: 400;
  letter-spacing: .012em;
  padding-bottom: 10px;
}
section:nth-of-type(3) p:nth-of-type(2) {
  font-size:14px;
  color: #86868b;
  text-align: center;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
  margin-bottom: 17px;
}
/*Styling link */
section:nth-of-type(3) p:nth-of-type(3){
  font-size:19px;
  letter-spacing: .012em;
  text-align:center;
  font-weight: 400;
  line-height: 1.21053;
}
section:nth-of-type(3) p:nth-of-type(3) a:nth-of-type(2){
  margin:0px 0px 0px 27px;
}

/*Styling afbeelding iPhone11 */
section:nth-of-type(4){
  background-image: url("../images/iPhone11.jpg");
  height: 600px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 20px;
  margin-top: -10px;
}

/*Styling bovenste gedeelte iMac*/
section:nth-of-type(5) {
  background-color: white;
  padding-top: 30px;
  text-align: center;
}
 section:nth-of-type(5) h2 {
    text-align:center;
    font-size:32px;
    line-height: 1.125;
    letter-spacing: .004em;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
  }

  /*Styling afbeelding iMac */

  section:nth-of-type(5){
    background-image: url("../images/School.jpg");
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 20px;
    margin-top: -10px;
  }






    /*Styling tweede pagina*/
    #tweedepagina section:nth-of-type(1) {
      background-color:#fff;
      padding-top: 30px;
      padding-top:70px;
    }

    #tweedepagina section:nth-of-type(1) h2 {
      color: #111111;
      text-align: center;
      font-size:28px;
      line-height: 1.125;
      letter-spacing: .004em;
      font-weight: 500;
      padding-top: 10px;
    }

    #tweedepagina section:nth-of-type(1) p:nth-of-type(1)  {
      color: #333333;
      text-align: center;
      font-size: 18px;
      line-height: 1.4211;
      font-weight: 400;
      letter-spacing: .012em;
      padding-bottom: 10px;
      margin-top: 3px;

    }
    #tweedepagina section:nth-of-type(1) p:nth-of-type(2) {
      font-size:14px;
      color: #86868b;
      text-align: center;
      line-height: 1.21053;
      font-weight: 400;
      letter-spacing: .012em;
      margin-bottom: 17px;

    }
    /*section afbeelding styling */
    #tweedepagina section:nth-of-type(2) {
      background-image: url("../images/iPhone11.jpeg");
      height: 600px;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom;
      padding: 20px;
      margin-top: -10px;
    }

    #tweedepagina section:nth-of-type(3){
      display: flex;
      position: sticky;
      align-items: center;
      justify-content: center;

    }

    #tweedepagina section:nth-of-type(3)a {
      font-size: 14px;
      color: #0070c9;
    }

    #tweedepagina section:nth-of-type(3)img {
      margin-top:30px;
    }

    #tweedepagina section:nth-of-type(4){
      background-image: none;

    }

    #tweedepagina section:nth-of-type(4) h2{
      font-size: 17px;
      color:#111111;
      font-weight: 550;
      margin-bottom: 5px;
    }
    #tweedepagina section:nth-of-type(4) ul {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    #tweedepagina section:nth-of-type(4) ul li {
      list-style-type: none;
      width: 48%;
      height: 20px;
      margin-top: 3px;
      height: 105.98px;
      font-size: 12px;
      color: #333333;
      background-color: hsla(0,0%,100%,.8);
      border:1px solid #d6d6d6;
      opacity: .4;
      transition: opacity .3s;
      margin-bottom: 10px;
    }

    #tweedepagina section:nth-of-type(4) ul li span{
      display: block;
      margin:auto;
      margin-top:30px;
      background-color: #FAF6EF;
      width: 32px;
      height:32px;
      border-radius: 50%;
    }

    #tweedepagina section:nth-of-type(4) ul li p{
      text-align: center;
      margin-top: 5px;
      color: #333333;
    }

    #tweedepagina section:nth-of-type(4) ul li:nth-of-type(2) span{
      background-color: black;
    }

    #tweedepagina section:nth-of-type(4) ul li:nth-of-type(3) span{
      background-color: red;
    }

    #tweedepagina section:nth-of-type(4) ul li:nth-of-type(4) span{
      background-color: Green;
    }

    #tweedepagina section:nth-of-type(4) ul li:nth-of-type(5) span{
      background-color: Yellow;
    }

    #tweedepagina section:nth-of-type(4) ul li:nth-of-type(6) span{
      background-color: Blue;
    }

    .selecteren {
      opacity: 1 !important;
      border-color: #0070c9 !important;
    }



  #tweedepagina section:nth-of-type(5){
    background-image: none;
    margin-top:0;
  }

  #tweedepagina section:nth-of-type(5) h2{
    font-size: 25px;
    margin-top:-150px;

  }

#tweedepagina section:nth-of-type(5) ul li{
  list-style: none;
  display: inline;
}

  #tweedepagina section:nth-of-type(5) span {
    display: inline-flex;
    margin:auto;
    margin-top:30px;
    background-color: #888888;
    width: 8px;
    height:8px;
    border-radius: 50%;
  }

  #tweedepagina section:nth-of-type(5) li:nth-of-type(2) span{
    opacity: .50;
  }

  /*logo animation */

@keyframes logo-draaien {

  0%{ transform: rotate(30deg);
  }

  100%{ transform: rotate(360deg);

  }
}

nav ul li:nth-of-type(2) a img:hover{
  animation-name: logo-draaien;
  animation-duration: 1s;
}

  /*link tekst animation */

@keyframes link-animation {

  0%{transform: skewX(0);
  }

  100% {transform: skewX(2);

  }

}

section p a {
  animation-name: link-animation;
  animation-duration: 1s;
}
